header {
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
}

.logo-img {

}

.menu-list {

}

.menu-list li a {

}

@media (min-width: 1024px) {
    
}
